<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vbmobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
				<key>dateExpires</key>
				<string>27.08.2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>8.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BEAAD488A05B071A80BC3D93B1C7EBC8A5D1D4E6</string>
						<key>dateExpires</key>
						<string>27.08.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R485N94CH5</string>
						<key>name</key>
						<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R485N94CH5.com.veriport.veriboard</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R485N94CH5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ca86703b-3ffd-4af4-a2b8-fe1e628f72e3</string>
				<key>dateExpires</key>
				<string>22.11.2022</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.veriport.veriboard</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R485N94CH5</string>
				<key>name</key>
				<string>AERIS TEKNOLOJI COZUMLERI LIMITED SIRKETI</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
